{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - {{search}} {% endblock %}
{% block body %}

    <div class="container-fluid mt-2">
        <div class="display-4 mx-4 mt-2">
            Il nous manque l'id pour effectuer la recherche.
        </div>
    </div>

{% endblock %}